h1 {
    text-align: center;
    font-size: 50px;
    color: white;
}

h2 {
    text-align: center;

}

.first-section {
    text-align: center;
    background-image: url(images/donation14.webp);
    height: 400px;
    margin-bottom: 120px;

}

.second-section {
    text-align: center;
    margin-bottom: 150px;
}

.other-section {
    margin-bottom: 200px;
}

p {
    text-align: center;
}

.amount-div {
    margin-left: 30px;
}

.flexible-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

input {
    margin-bottom: 20px;
}

#left-div {
    float: left;
    background-color: aliceblue;
    width: 30%;
    height: 280px;
    margin-left: 3%;
    text-align: left;
}

#middle-div {
    float: left;
    background-color: antiquewhite;
    width: 30%;
    height: 280px;
    margin-left: 2%;
    margin-right: 2%;
    text-align: left;
}

#right-div {
    float: right;
    background-color: bisque;
    width: 30%;
    height: 280px;
    margin-right: 3%;
}

h1 {
    color: green;
    text-align: center;
}

.subscribe-div {
    height: 100px;
    width: 60%;
    text-align: center;
    background-color: antiquewhite;
    margin-left: 25%;
    margin-right: 25%;
}

footer {
    background-color: black;
    text-align: center;
    color: white;

}